:root {
  --white-text: rgba(255, 255, 255, 1);
  --white-text-op60: rgba(255, 255, 255, 0.6);

  --grey-text: rgba(117, 117, 117, 1);
  --grey-border: rgba(175, 177, 184, 1);
  --blue: rgba(33, 150, 243, 1);
  --blue-transparent: rgba(33, 150, 243, 0.9);

  --black: rgb(33, 33, 33, 1);
  --black-dark: rgba(0, 0, 0, 1);

  --back-white: rgba(255, 255, 255, 0.1);
  --back-lightwhite: rgba(245, 244, 250, 1);
  --back-ecru: rgba(238, 238, 238, 1);
  --back-offwhite: rgba(236, 236, 236, 1);
  --back-dark: rgba(47, 48, 58, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

span {
  color: var(--blue);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
p,
ul,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
footer {
  background-color: var(--back-dark);
  color: #ffffff;
}

/* Header */

.header-section {
  padding-top: 32px;
  padding-bottom: 32px;
  outline: 1px solid red;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  /* outline: 1px solid red; */
}

.link {
  display: flex;
  margin-left: 93px;
}

.link .item {
  margin-right: 50px;
  /* outline: 1px solid red; */
}

.link .item:last-child {
  margin-right: 0;
}

.site-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link.current {
  color: var(--blue);
}

.site-link.current::after {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}

.site-link:hover,
.site-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--blue);
  text-decoration: none;
}
.nav-address .address-link + .address-link {
  margin-left: 50px;
}

.nav-address {
  display: flex;
  margin-left: auto;
}

.address-link {
  color: var(--grey-text);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--blue);
}

.icon-mail {
  content: "";
  fill: var(--grey-text);
  display: inline-block;
  width: 16px;
  height: 12px;
  background-image: url(../images/icons.svg/header1.svg);
  fill: currentColor;
  margin-right: 10px;
}

.icon-tel {
  content: "";
  fill: var(--grey-text);
  width: 10px;
  height: 16px;
  background-image: url(../images/icons.svg/header2.svg);
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  background-color: var(--back-dark);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;

  /* outline: 1px solid red; */
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img(1).jpg");
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  padding-top: 200px;
  padding-bottom: 0;
  margin-top: 0;
}

.hero-btn {
  background-color: var(--blue);
  color: #ffffff;
  border: 1px transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  margin-bottom: 200px;
  margin-top: 30px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Преимущества */

.advantages-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.container-list > li:not(:last-child) {
  margin-right: 30px;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  /* outline: 1px solid red; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-color: var(--back-lightwhite);
}

.list-item:nth-child(1):before {
  background-image: url(../images/icons.svg/Vector1.svg);
  background-size: 65px;
}

.list-item:nth-child(2):before {
  background-image: url(../images/icons.svg/Vector2.svg);
  background-size: 69px;
}

.list-item:nth-child(3):before {
  background-image: url(../images/icons.svg/Vector3.svg);
  background-size: 70px;
}

.list-item:nth-child(4):before {
  background-image: url(../images/icons.svg/Vector4.svg);
  background-size: 70px;
}

.title {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
}

.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
}

/* Чем мы занимаемся */

.calling-section {
  padding-bottom: 94px;
  margin-bottom: 0;
  outline: 1px solid red;
}

.subtitle {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;
}

.images {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.images > li:not(:last-child) {
  padding-right: 30px;
}

/* Наша команда */

.team-page-section {
  background-color: var(--back-lightwhite);
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 1px solid red;
}

.team-page li {
  background-color: rgba(236, 236, 236, 1);
}

.container-name {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.container-name > li:not(:last-child) {
  margin-right: 30px;
}

.container-name > li {
  border-radius: 0px 0px 4px 4px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
}

.name-aside {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 10px;
}

.item-icon {
  margin-top: 16px;
  padding-bottom: 30px;
  height: ;
  padding-left: 30px;
  padding-right: 30px;
}
.social a .media a {
  justify-content: center;
  align-items: center;
}
.media {
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.media > li:not(:last-child) {
  margin-right: 10px;
}

.social {
  display: block;
  background-color: var(--white-text);
  border-radius: 50%;
  color: var(--grey-border);
  height: 44px;
  width: 44px;
  border: none;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  color: var(--white-text);
  background-color: var(--blue);
}

.insta {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.tw {
  width: 20px;
  height: 16.25px;
  fill: currentColor;
}

.fb {
  width: 10px;
  height: 20px;
  fill: currentColor;
}

.in {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.costumers-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}

.costumers {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.costumer-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  fill: var(--grey-border);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumer-link:hover,
.costumer-link:focus {
  border: 1px solid var(--blue);
  fill: var(--blue);
}

.costumers li:not(:last-child) {
  margin-right: 30px;
}

/* Портфолио */
.portfolio-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

/* margin-bottom: 0;
  margin-top: 0; */

.container-portfolio {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 1px solid red;
}
.option-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  border: 1px transparent;
  padding: 6px 22px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option-btn:hover,
.option-btn:focus {
  background-color: var(--blue);
  color: #ffffff;
}

.option-btns > li:not(:last-child) {
  margin-right: 8px;
}

.option-btns {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.portfolio-thumb {
  position: relative;
  /* overflow: hidden; */
}

.actions {
  /* padding: 34px 31px 92px 17px; */
  position: absolute;
  content: "";
  /* display: block;
  display: inline-flex; */
  /* color: var(--white-text); */
  /* top: 0; */
  bottom: 0;
  right: 0;
  width: 370px;
  height: 294px;
}

.description {
  display: block;
  padding: 34px 31px 92px 17px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-text);
  background-color: var(--blue-transparent);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  /* position: relative; */
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-link:hover,
.flex-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  background: var(--white-text);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  padding: 20px 24px 54px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: 4px;
}

/* Footer */

.logo-footer {
  color: #ffffff;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid red;
}

.footer-location {
  margin-top: 20px;
}

.footer-link {
  color: var(--white-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 9px;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.social-footer {
  margin-left: 70px;
}
.media-footer {
  display: inline-block;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.media-footer > li:not(:last-child) {
  margin-right: 10px;
}

.madia-footer > li {
  color: var(--back-white);
}

.link-social {
  display: inline-block;
  border-radius: 50%;
  color: var(--white-text);
  width: 44px;
  height: 44px;
  background-color: var(--back-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-social:hover,
.link-social:focus {
  background-color: var(--blue);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
